# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Large datasets (optional if big)
data/raw/*.csv

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.temp